@{
    ViewData["Title"] = "Home Page";
}


<section class="block">
    <div id="headerimage" class="header">
        <div class="banner">
            <div class="banner-text">
                <h2>Leading a new approach to cloud-based exception reporting.</h2>
            </div>
        </div>
    </div>
</section>
<section class="block">
    <div id="what-we-do" class="section">
        <h2 class="section-title">What We Do</h2>
        <h5 class="section-subtitle">Video/POS Cloud-Based Integration</h5>
        <h5 class="section-subtitle" style="text-align: justify;">With more than 70 years of security video experience between them, Phil Tolle and Kevin Searight co-founded 3 Palms Intelligent Video Solutions to support the loss prevention practices of multi-site businesses. Our primary focus is to assist in the effort to identify and address incidences of theft and fraud at the Point of Sale with an existing video infrastructure.</h5>
        <p>3 Palms has partnered with Solink, Inc. to provide a Cloud-based Exception Reporting Service as the centerpiece to integrate your existing video and POS detail. Solink is installed parallel to an existing video infrastructure so that no expensive physical hardware/software re-configurations or licensing are required with an existing NVR server device. The only connectivity needed is to an open port on the PoE switch and a static IP Address assigned to the network. As a result, the current recording and camera devices remain untouched and can continue to be serviced by your existing partners.</p>
        <p>Supported by a forensic case management suite, our Clients have remote access to both on-site video as well as a minimum of one year of cloud archived storage. This provides the foundation for a forensic video/data review to supplement Loss Prevention investigations and/or Operational Training. Health monitoring options identify, notify, and minimize the downtime of their current video system; while on-line 24/7 chat support is readily available.</p>
        <p>In addition, the support of our Video Manufacturer partners affords 3 Palms the ability to provide our Clients with a cost-effective option to both supplement and support their existing video investment as needed.</p>
    </div>
    <div id="solutions" class="section">
        <h2 class="section-title">Solutions</h2>
        <h5 class="section-subtitle">Video Technology Partners</h5>
        <div class="row">
            <div class="col">
                <a href="http://solinkcorp.com" target="_blank"><img src="~/Content/Images/logo_solink_transparent_white.png" width="250" height="41" class="d-inline-block align-top" alt=""></a>
                <p>Solink is a data-driven security platform that provides network solutions for the identification and reporting of fraudulent activities for the retail and financial markets. A subscription base solution, the software automatically matches in-store transactions to video and analyzes the data to identify suspicious events. Using the web or mobile app, you can access all locations remotely, search for incidents, and quickly share evidence. In addition, the solution provides management with the tools to identify additional Training opportunities. With Solink, you can dramatically reduce investigation times and know that you're keeping a close eye on your operations.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://hanwhasecurity.com" target="_blank"><img src="~/Content/Images/logo_hanwhatechwin_transparent_white.png" width="250" height="71" class="d-inline-block align-top" alt=""></a>
                <p>Hanwha Techwin America (formerly Samsung Techwin) is a precision technology company that has accumulated manufacturing expertise over 60 years of operation. Hanwha recently introduced the Wisenet line of innovative security products that include the 360° Fisheye and Multi Directional 180° cameras. Hanwha Techwin America provides products and technologies with the highest levels of performance, reliability and cost-efficiency for professional security applications.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="http://specotech.com" target="_blank"><img src="~/Content/Images/logo_speco_transparent_white.png" width="250" height="64" class="d-inline-block align-top" alt=""></a>
                <p>For over fifty years, Speco Technologies has provided the latest innovations in high definition video surveillance and accessories. Speco continues to support the industry with affordable, dependable product, while delivering exceptional customer service through extensive product training and technical support.</p>
            </div>
        </div>
    </div>
    <div id="who-we-serve" class="section">
        <h2 class="section-title">Who We Serve</h2>
        <h5 class="section-subtitle">Multi-Site Businesses</h5>
        <div class="row">
            <div class="col">
                <i class="fa fa-4x fa-shopping-cart"></i>
                <div class="serve-header"><h5>Retail</h5></div>
                <div class="serve-content"><p>Soft Goods<br />Hard Goods<br />Grocery</p></div>
            </div>
            <div class="col">
                <i class="fa fa-4x fa-cutlery"></i>
                <div class="serve-header"><h5>Restaurant</h5></div>
                <div class="serve-content"><p>Full Service<br />Quick Service<br />Bar and Lounge</p></div>
            </div>
            <div class="col">
                <i class="fa fa-4x fa-university"></i>
                <div class="serve-header"><h5>Financial</h5></div>
                <div class="serve-content"><p>Credit Unions<br />Banking<br />Personal Loans</p></div>
            </div>
            <div class="col">
                <i class="fa fa-4x fa-ticket"></i>
                <div class="serve-header"><h5>Entertainment</h5></div>
                <div class="serve-content"><p>Theme Parks<br />Theaters<br />Sports Venues</p></div>
            </div>
        </div>
    </div>
    <div id="who-we-are" class="section">
        <h2 class="section-title">Who We Are</h2>
        <h5 class="section-subtitle">The Executive Team</h5>
        <div id="who-we-are-images" class="row">
            <div class="col">
                <img src="~/Content/Images/Phil_square.png" width="240" height="240" alt="Package Management" class="about-img img-responsive" />
            </div>
            <div class="col">
                <img src="~/Content/Images/Kevin_square.png" width="240" height="240" alt="Package Management" class="about-img img-responsive" />
            </div>
        </div>
        <div id="who-we-are-text" class="row">
            <div class="col">
                <h3>Phil Tolle</h3>
                <h5>Co-Founder</h5>
                <h5>36 years of industry experience</h5>
                <p>A seasoned physical security professional, Phil has served in both National Sales integration and Retail Loss Prevention leadership positions since 1982. Throughout his 15 years of Executive Loss Prevention roles with Hills Department Stores, Thalhimers, McCrory’s, Highland Superstores and Lord & Taylor, he employed a combination of team leadership and strategic planning with his support staff to achieve success in both profitability goals and objectives. These tools served him well as he made the transition into physical security systems integration as a solutions provider with Sensormatic in 1997. Continuing to serve as a Trusted Adviser for over 20 years with enterprise video leaders including Vector Security and NAVCO, Phil has continued to provide a diverse solution perspective and exemplary customer service through his unique experience as a Client and Integrator. He welcomes the opportunity for 3 Palms to be at YOUR service.</p>
            </div>
            <div class="col">
                <h3>Kevin Searight</h3>
                <h5>Co-Founder</h5>
                <h5>35 years of industry experience</h5>
                <p>Kevin’s diverse background in the electronic security industry affords him the expertise to consistently deliver innovative solutions and increased profitability to his customers. Areas of proficiency include: Strategic Vision, Meticulous Attention to Detail (MAD), Consultative Customer Engagement, unparalleled commitment to Customer Service and providing strong Leadership to the enterprises he has served. Kevin comes to 3 Palms Intelligent Video Solutions following a varied career as a Systems Integrator at Sensormatic, Comm-Works and Iverify as well as a Manufacturer of advanced Intelligent Video Solutions at companies including Tyco, ClickIT and Verint Video Solutions. Kevin is adept at identifying and responding to his Customers unique business needs and delivering consultative, business driven, ROI based Technology and Service Solutions that provide high value to all stakeholders. </p>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div id="contact-us" class="section">
        <h2 class="section-title">Contact Us 24/7</h2>
        <h5 class="section-subtitle">We are excited to discuss a security solution to fit your needs.<br />Send us an email using the form below.</h5>
        <div class="contact-us-form">
            @Html.Partial("_ContactUsForm")
        </div>
        <h4 class="section-subtitle">Connect With Us On Social Media</h4>
        <div class="social-icon-container">
            <a href="https://linkedin.com/company/28139371/" target="_blank"><i class="fa fa-2x fa-linkedin social-icon"></i></a>
            <a href="https://facebook.com/3pivs/" target="_blank"><i class="fa fa-2x fa-facebook social-icon"></i></a>
            <a href="https://twitter.com/Kevin3Palms" target="_blank"><i class="fa fa-2x fa-twitter social-icon"></i></a>
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript" src="//www.google.com/recaptcha/api.js" async></script>
    <script>
        $(document).ready(function () {
            var navbarOffset = $("nav").outerHeight();

            // Client side validation for
            $.validator.unobtrusive.parse($("#contact-us-form"));

            $("#home-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $(".header").offset().top - navbarOffset
                }, 'slow');
            });

            $("#what-we-do-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#what-we-do").offset().top - navbarOffset
                }, 'slow');
            });

            $("#solutions-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#solutions").offset().top - navbarOffset
                }, 'slow');
            });

            $("#who-we-serve-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#who-we-serve").offset().top - navbarOffset
                }, 'slow');
            });

            $("#who-we-are-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#who-we-are").offset().top - navbarOffset
                }, 'slow');
            });

            $("#contact-us-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#contact-us").offset().top - navbarOffset
                }, 'slow');
            });

            $(document).on("submit", function (e, data) {
                e.preventDefault();

                var recaptcha = $("#g-recaptcha-response").val();
                if (recaptcha === "") {
                    event.preventDefault();
                    bootbox.dialog({
                        message: "Please check the captcha before submitting the form.",
                        buttons: {
                            confirm: {
                                label: 'Close',
                                className: 'btn-outline-primary'
                            },
                        },
                        callback: function () { }
                    });

                    return;
                }

                var form = e.target;
                var formData = new FormData(form);

                var submitButton = $(".submit-button");
                var submitButtonHtml = submitButton.html();
                // Show spinner on submit button and disable it
                submitButton.html('<div class="loader"></div>');
                submitButton.attr("disabled", true);

                $.ajax({
                    url: form.action,
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                })
                    .then(function (response) {
                        bootbox.dialog({
                            message: "Thank you for your interest! We have received your inquiry we will be reaching out to you soon.",
                            buttons: {
                                confirm: {
                                    label: 'Close',
                                    className: 'btn-outline-primary'
                                },
                            },
                            callback: function () { }
                        });

                        // Remove spinner from submit button
                        submitButton.html(submitButtonHtml);
                        submitButton[0].classList.add("btn-outline-secondary-disabled");
                        submitButton[0].classList.remove("btn-outline-secondary");
                    })
                    .fail(function (error) {
                        bootbox.dialog({
                            message: "An error occurred while submitting the form.<br /><br />Error: " + error.statusText,
                            buttons: {
                                confirm: {
                                    label: 'Close',
                                    className: 'btn-outline-primary'
                                },
                            },
                            callback: function () { }
                        });

                        // Remove spinner from submit button and enable so user can try to resubmit
                        submitButton.html(submitButtonHtml);
                        submitButton.attr("disabled", false);

                        grecaptcha.reset();
                    });
            });
        });
    </script>
}
