@{
    ViewData["Title"] = "Home Page";
}


<section class="block">
    <div id="solutions-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#solutions-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#solutions-carousel" data-slide-to="1"></li>
            <li data-target="#solutions-carousel" data-slide-to="2"></li>
            <li data-target="#solutions-carousel" data-slide-to="3"></li>
            <li data-target="#solutions-carousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img id="camcloud_banner" class="d-block w-100" src="/Content/Images/camcloud_banner.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img id="controlbynet_banner" class="d-block w-100" src="/Content/Images/controlbynet_banner.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img id="verkada_banner" class="d-block w-100" src="/Content/Images/verkada_banner.png" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img id="carbon_banner" class="d-block w-100" src="/Content/Images/carbon_banner.png" alt="Fourth slide">
            </div>
            <div class="carousel-item">
                <img id="solink_banner" class="d-block w-100" src="/Content/Images/solink_banner.png" alt="Fifth slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#solutions-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#solutions-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section class="block">
    <div id="what-we-do" class="section">
        <h2 class="section-title">What We Do</h2>
        <div class="row justify-content-center">
            <div class="col-sm-3 section-title-hr-col">
                <hr style="border-top: 1px solid black !important" />
            </div>
            <div class="col-sm-5 section-title-col">
                <h5 class="section-subtitle">Video Cloud & POS Exception Services for SMB Owners</h5>
            </div>
            <div class="col-sm-3 section-title-hr-col">
                <hr style="border-top: 1px solid black !important" />
            </div>
        </div>
        <h5 class="section-text" style="text-align: justify; font-weight: 400; margin-bottom: 20px">3 Palms Intelligent Video Solutions, LLC was founded to provide cloud storage services for small and medium sized businesses by securing surveillance video and corresponding Point of Sale (POS) data off site. Adding redundancy to, or replacing, your on-site recording hardware with a cloud storage platform will significantly reduce the risk of a catastrophic video/detail loss. This can truly make a difference to your bottom line and your employee/customers wellbeing.</h5>
        <p class="section-text" style="text-align: justify; font-weight: 400; margin-bottom: 20px">Utilizing a cloud managed VSaaS (Video Solutions as a Service) approach, you have the option to supplement or replace local evidentiary video storage hardware with that of a secure off-site storage solution. This method eliminates the need for you to purchase costly capital expense hardware and subsequent Maintenance Agreements, while providing an annual fixed subscription budget and optimizing the management of your existing video investment.</p>
        <h6 class="section-text" style="text-align: justify; font-weight: 900; margin-bottom: 10px">Camera Video to Cloud Storage</h6>
        <p class="section-text">Provide a direct and secure off-site connection to manage, retrieve and review Loss Prevention and Operational video/data without requiring traditional DVR/NVR hardware.</p>
        <h6 class="section-text" style="text-align: justify; font-weight: 900; margin-bottom: 10px">Camera Video Storage to Cloud Storage</h6>
        <p class="section-text">Eliminate the need for local servers, firewall equipment and NVRs with an on-board solid state video storage camera solution that provides 24/7 access to live video feeds.</p>
        <h6 class="section-text" style="text-align: justify; font-weight: 900; margin-bottom: 10px">Point of Sale (POS) Video/Exception Reporting to Cloud Storage</h6>
        <p class="section-text">Automate the management, storage, and retrieval of POS Video/Transactional activity with a scalable cloud-based and secured platform.</p>
        <p class="section-text">In addition, our select Video Manufacturer partnerships provide 3 Palms the ability to provide cost-effective options to supplement/upgrade your existing Video investments.</p>
        <hr class="section-text"/>
        <p class="section-text" style="text-align: right; font-style: italic;">"Never doubt that a small group of people can change the world; indeed, it is the only thing that ever has."</p>
        <p class="section-text" style="text-align: right;">- Margaret Mead </p>
    </div>
    <div id="solutions" class="section">
        <h2 class="section-title">Solutions</h2>
        <div class="row justify-content-center">
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
            <div class="col-sm-3 section-title-col">
                <h5 class="section-subtitle">Video Cloud Storage Partners</h5>
            </div>
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
        </div>
        <div class="row solutions-row">
            <div class="col-md-6">
                <div class="solutions-img-container">
                    <a href="https://camcloud.com" target="_blank">
                        <img style="vertical-align:middle" src="~/Content/Images/camcloud_transparent_mono.png" width="215" height="80" class="d-inline-block align-top solutions-img" alt="">
                    </a>
                </div>
                <div style="display: flex; justify-content: center;">
                    <i class="fa fa-lg fa-chevron-down show-buttons-icon"></i>
                    <p class="section-text solutions-text">Store your critical surveillance footage safely off-site in the cloud for up to 90 days, to easily manage multiple cameras, users and physical locations. No more complex on-site hardware and all your media, from all your cameras will be stored in a single, secure location. The platform is designed to work with the largest number of cameras possible, including leading brands such as Hanwha Techwin (Samsung), many of which provide “plug-and-play capability. Camcloud’s multi-user feature allows for unlimited users on your account while restricting their account access and what cameras they can view, with limited account privileges. Since the service is cloud-based, you can connect cameras from unlimited number of physical locations.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="solutions-img-container">
                    <a href="http://controlbynet.com/" target="_blank">
                        <img src="~/Content/Images/controlbynet_logo_mono_transparent.png" class="d-inline-block align-top solutions-img" alt="">
                    </a>
                </div>
                <div style="display: flex; justify-content: center;">
                    <i class="fa fa-lg fa-chevron-down show-buttons-icon"></i>
                    <p class="section-text solutions-text">ControlByNet helps multi-family communities and businesses remain safe and secure using the latest cloud technologies. Their video surveillance software was one of the first true cloud solutions and its flexibility allows properties of all sizes to ensure video safety to residents, visitors and employees.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="solutions-img-container">
                    <a href="https://verkada.com" target="_blank">
                        <img src="~/Content/Images/verkada_transparent_mono.png" style="width: 335px;" class="d-inline-block align-top solutions-img" alt="">
                    </a>
                </div>
                <div style="display: flex; justify-content: center;">
                    <i class="fa fa-lg fa-chevron-down show-buttons-icon"></i>
                    <p class="section-text solutions-text" style="max-width: 470px; margin: auto;">Reduce complexity and cost with the world’s smartest, all-in-one security camera. No NVRs/DVRs, no on-premise servers to manage, no extra software or downloads — Verkada is so easy to use that it works for everyone. View video on any device, get alerts when things aren't right — even send first responders a live camera feed via SMS. No more manual updates, outdated firmware, or port-forwarding — Verkada keeps you protected with automatic software updates. Verkada is different by design. We replace obsolete equipment with technology that’s smart, secure, and easy to manage — by default.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="solutions-img-container">
                    <a href="https://www.digiop.com/carbon/" target="_blank">
                        <img src="~/Content/Images/carbon_vert_logo.png" class="d-inline-block align-top solutions-img" alt="">
                    </a>
                </div>                
                <div style="display: flex; justify-content: center; margin-top: 10px;">
                    <i class="fa fa-lg fa-chevron-down show-buttons-icon"></i>
                    <p class="section-text solutions-text">The DIGIOP Elements software is designed for Loss Prevention specialists, saving business owners both time and money. Their newest tool is CARBON; an innovative software platform which delivers actionable data through an intuitive dashboard, offering functional data mining and case management. The DIGIOP software integrates your POS data alongside your video surveillance, which monitors and protects your business from internal theft and operational inefficiencies. CARBON’s cloud hosted Case Management module allows you to both store key video clips and receipt data within the central repository, as well as build and export into one convenient case file. The result is the ability to share secure and critical information within your organization, Human Resources, and Law Enforcement.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="solutions-img-container">
                    <a href="https://solink.com" target="_blank">
                        <img src="~/Content/Images/solink-2018-white-transparent.png" class="d-inline-block align-top solutions-img" alt="">
                    </a>
                </div>
                <div style="display: flex; justify-content: center;">
                    <i class="fa fa-lg fa-chevron-down show-buttons-icon"></i>
                    <p class="section-text solutions-text">Solink is a data-driven security platform that provides network solutions for the identification and reporting of fraudulent activities for the retail and financial markets. A subscription base solution, the software automatically matches in-store transactions to video and analyzes the data to identify suspicious events. Using the web or mobile app, you can access all locations remotely, search for incidents, and quickly share evidence. In addition, the solution provides management with the tools to identify additional Training opportunities. With Solink, you can dramatically reduce investigation times and know that you're keeping a close eye on your operations.</p>
                </div>
            </div>
        </div>
        <h2 class="section-title">Solutions</h2>
        <div class="row justify-content-center">
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
            <div class="col-sm-3 section-title-col">
                <h5 class="section-subtitle">Video Manufacturer Partners</h5>
            </div>
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="solutions-img-container">
                    <a href="https://hanwhasecurity.com" target="_blank">
                        <img src="~/Content/Images/logo_hanwhatechwin_transparent_white.png" width="250" height="71" class="d-inline-block align-top solutions-img" alt="">
                    </a>
                </div>
                <div style="display: flex; justify-content: center;">
                    <i class="fa fa-lg fa-chevron-down show-buttons-icon"></i>
                    <p class="section-text solutions-text">Hanwha Techwin America (formerly Samsung Techwin) is a precision technology company that has accumulated manufacturing expertise over 60 years of operation. Hanwha recently introduced the Wisenet line of innovative security products that include the 360° Fisheye and Multi Directional 180° cameras. Hanwha Techwin America provides products and technologies with the highest levels of performance, reliability and cost-efficiency for professional security applications.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="solutions-img-container">
                    <a href="https://www.vivotek.com" target="_blank">
                        <img src="~/Content/Images/vivotek_logo_white_tranparent.png" width="250" height="65" class="d-inline-block align-top solutions-img" alt="">
                    </a>
                </div>
                <div style="display: flex; justify-content: center;">
                    <i class="fa fa-lg fa-chevron-down show-buttons-icon"></i>
                    <p class="section-text solutions-text">VIVOTEK has developed comprehensive IP surveillance solutions that encompass its broad range of network cameras, PoE switches, network video recorders, and video management software. In response to the possibilities offered by the rising trend of IoT, VIVOTEK aspires to become the Eye in IOT by drawing on its expansive technological capabilities in image and audio. The Company also plans to continue improving its software/hardware R&D capabilities and expanding its already extensive strategic alliances with leading international software and hardware partners.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="solutions-img-container">
                    <a href="http://specotech.com" target="_blank">
                        <img src="~/Content/Images/logo_speco_transparent_white.png" width="250" height="64" class="d-inline-block align-top solutions-img" alt="">
                    </a>
                </div>
                <div style="display: flex; justify-content: center;">
                    <i class="fa fa-lg fa-chevron-down show-buttons-icon"></i>
                    <p class="section-text solutions-text" style="max-width: 470px; margin: auto;">For over fifty years, Speco Technologies has provided the latest innovations in high definition video surveillance and accessories. Speco continues to support the industry with affordable, dependable product, while delivering exceptional customer service through extensive product training and technical support.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="who-we-serve" class="section">
        <h2 class="section-title">Who We Serve</h2>
        <div class="row justify-content-center">
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid black !important" />
            </div>
            <div class="col-sm-3 section-title-col">
                <h5 class="section-subtitle">Multi-Site Facilities</h5>
            </div>
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid black !important" />
            </div>
        </div>        
        <div class="row">
            <div class="col-md">
                <i class="fa fa-4x fa-shopping-cart"></i>
                <div class="serve-header"><h5 class="section-subtitle">Retail</h5></div>
                <div class="serve-content"><p>Auto Dealer / Rental / Repair<br />General Merchandise<br />Convenience<br />Grocery</p></div>
            </div>
            <div class="col-md">
                <i class="fa fa-4x fa-cutlery"></i>
                <div class="serve-header"><h5 class="section-subtitle">Restaurant</h5></div>
                <div class="serve-content"><p>Full and Quick Service<br />Bar and Lounge<br />Craft Brewery<br />Winery</p></div>
            </div>
            <div class="col-md">
                <i class="fa fa-4x fa-university"></i>
                <div class="serve-header"><h5 class="section-subtitle">Financial</h5></div>
                <div class="serve-content"><p>Personal Loan<br />Credit Union<br />Pawnbroker<br />Banking</p></div>
            </div>
            <div class="col-md">
                <i class="fa fa-4x fa-home"></i>
                <div class="serve-header"><h5 class="section-subtitle">Properties</h5></div>
                <div class="serve-content"><p>Multi-Family<br />Business<br />Medical<br />HOA's</p></div>
            </div>
        </div>
    </div>
    <div id="who-we-are" class="section">
        <h2 class="section-title">Who We Are</h2>
        <div class="row justify-content-center">
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
            <div class="col-sm-3 section-title-col">
                <h5 class="section-subtitle">The Executive Team</h5>
            </div>
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
        </div>
        <div id="who-we-are-images" class="row">
            <div class="col-lg">
                <img src="~/Content/Images/Kevin_square.png" width="240" height="240" alt="Package Management" class="about-img img-responsive" />
                <h3>Kevin Searight</h3>
                <h5>Vice President & Co-Founder</h5>
                <h5>36 years of industry experience</h5>
                <p class="section-text">Kevin’s diverse background in the electronic security industry affords him the expertise to consistently deliver innovative solutions and increased profitability to his customers. Areas of proficiency include: Strategic Vision, Meticulous Attention to Detail (MAD), Consultative Customer Engagement, unparalleled commitment to Customer Service and providing strong Leadership to the enterprises he has served. Kevin comes to 3 Palms Intelligent Video Solutions following a varied career as a Systems Integrator at Sensormatic, Comm-Works and Iverify as well as a Manufacturer of advanced Intelligent Video Solutions at companies including Tyco, ClickIT and Verint Video Solutions. Kevin is adept at identifying and responding to his Customers unique business needs and delivering consultative, business driven, ROI based Technology and Service Solutions that provide high value to all stakeholders. </p>
            </div>
            <div class="col-lg">
                <img src="~/Content/Images/Phil_square.png" width="240" height="240" alt="Package Management" class="about-img img-responsive" />
                <h3>Phil Tolle</h3>
                <h5>President & Co-Founder</h5>
                <h5>37 years of industry experience</h5>
                <p class="section-text">A seasoned physical security professional, Phil has served in both National Sales integration and Retail Loss Prevention leadership positions since 1982. Throughout his 15 years of Executive Loss Prevention roles with Hills Department Stores, Thalhimers, McCrory’s, Highland Superstores and Lord & Taylor, he employed a combination of team leadership and strategic planning with his support staff to achieve success in both profitability goals and objectives. These tools served him well as he made the transition into physical security systems integration as a solutions provider with Sensormatic in 1997. Continuing to serve as a Trusted Adviser for over 20 years with enterprise video leaders including Vector Security and NAVCO, Phil has continued to provide a diverse solution perspective and exemplary customer service through his unique experience as a Client and Integrator. He welcomes the opportunity for 3 Palms to be at YOUR service.</p>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div id="contact-us" class="section">
        <h2 class="section-title">Contact Us 24/7</h2>
        <div class="row justify-content-center">
            <div class="col-sm-3 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
            <div class="col-sm-5 section-title-col">
                <h5 class="section-subtitle">We are excited to discuss your custom security solution.<br />Please send us your contact detail using the form below.</h5>
            </div>
            <div class="col-sm-3 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
        </div>
        <div class="contact-us-form">
            @Html.Partial("_ContactUsForm")
        </div>
        <h4 class="section-subtitle">Connect With Us On Social Media</h4>
        <div class="social-icon-container">
            <a href="https://linkedin.com/company/28139371/" target="_blank"><i class="fa fa-2x fa-linkedin social-icon"></i></a>
            <a href="https://facebook.com/3pivs/" target="_blank"><i class="fa fa-2x fa-facebook social-icon"></i></a>
            <a href="https://twitter.com/Kevin3Palms" target="_blank"><i class="fa fa-2x fa-twitter social-icon"></i></a>
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript" src="//www.google.com/recaptcha/api.js" async></script>    
    <script>
        $(document).ready(function () {
            onResize();

            var navbarOffset = $("nav").outerHeight() - 1;

            // Client side validation for
            $.validator.unobtrusive.parse($("#contact-us-form"));

            $('.show-buttons-icon').on('click', function (e) {
                $(e.target).hide();
                $(e.target).siblings().show(750);
            });

            $('.solutions-text').on('click', function (e) {
                $(e.target).hide(750);
                setTimeout(function () {
                    $(e.target).siblings().show();
                }, 750);
            });

            $("#home-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#solutions-carousel").offset().top - navbarOffset
                }, 'slow');
            });

            $("#what-we-do-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#what-we-do").offset().top - navbarOffset
                }, 'slow');
            });

            $("#solutions-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#solutions").offset().top - navbarOffset
                }, 'slow');
            });

            $("#who-we-serve-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#who-we-serve").offset().top - navbarOffset
                }, 'slow');
            });

            $("#who-we-are-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#who-we-are").offset().top - navbarOffset
                }, 'slow');
            });

            $("#contact-us-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#contact-us").offset().top - navbarOffset
                }, 'slow');
            });

            $(document).on("submit", function (e, data) {
                e.preventDefault();

                var recaptcha = $("#g-recaptcha-response").val();
                if (recaptcha === "") {
                    event.preventDefault();
                    bootbox.dialog({
                        message: "Please check the captcha before submitting the form.",
                        buttons: {
                            confirm: {
                                label: 'Close',
                                className: 'btn-outline-primary'
                            },
                        },
                        callback: function () { }
                    });

                    return;
                }

                var form = e.target;
                var formData = new FormData(form);

                var submitButton = $(".submit-button");
                var submitButtonHtml = submitButton.html();
                // Show spinner on submit button and disable it
                submitButton.html('<div class="loader"></div>');
                submitButton.attr("disabled", true);

                $.ajax({
                    url: form.action,
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                })
                    .then(function (response) {
                        bootbox.dialog({
                            message: "Thank you for your interest! We have received your inquiry we will be reaching out to you soon.",
                            buttons: {
                                confirm: {
                                    label: 'Close',
                                    className: 'btn-outline-primary'
                                },
                            },
                            callback: function () { }
                        });

                        // Remove spinner from submit button
                        submitButton.html(submitButtonHtml);
                        submitButton[0].classList.add("btn-outline-secondary-disabled");
                        submitButton[0].classList.remove("btn-outline-secondary");
                    })
                    .fail(function (error) {
                        bootbox.dialog({
                            message: "An error occurred while submitting the form.<br /><br />Error: " + error.statusText,
                            buttons: {
                                confirm: {
                                    label: 'Close',
                                    className: 'btn-outline-primary'
                                },
                            },
                            callback: function () { }
                        });

                        // Remove spinner from submit button and enable so user can try to resubmit
                        submitButton.html(submitButtonHtml);
                        submitButton.attr("disabled", false);

                        grecaptcha.reset();
                    });
            });

            // We are dynamically changing the header image to a cropped version for small devices
            function onResize() {
                width = $(window).outerWidth();

                // Dynamically resize columns in section titles so that <hr />'s look correct
                if (width > 890) {
                    $('.section-title-hr-col').css('display', 'initial');
                    $('.section-title-col').removeClass('col');
                    $('.section-title-col').removeClass('col-sm-4');
                    $('.section-title-col').addClass('col-sm-3');
                }
                if (width <= 890) {
                    $('.section-title-hr-col').css('display', 'initial');
                    $('.section-title-col').removeClass('col');
                    $('.section-title-col').removeClass('col-sm-3');
                    $('.section-title-col').addClass('col-sm-4');
                }
                if (width <= 580) {
                    $('.section-title-hr-col').css('display', 'none');
                }
                else {
                    $('.section-title-hr-col').css('display', 'initial');
                }
                // Dynamically resize banner image
                if (width <= 480) {
                    $('#verkada_banner')[0].src = "/Content/Images/verkada_banner_phone.png";
                    $('#camcloud_banner')[0].src = "/Content/Images/camcloud_banner_phone.png";
                    $('#solink_banner')[0].src = "/Content/Images/solink_banner_phone.png";
                    $('#carbon_banner')[0].src = "/Content/Images/carbon_banner_phone.png";
                    $('#controlbynet_banner')[0].src = "/Content/Images/controlbynet_banner_phone.png";
                }
                else {
                    $('#verkada_banner')[0].src = "/Content/Images/verkada_banner.png";
                    $('#camcloud_banner')[0].src = "/Content/Images/camcloud_banner.png";
                    $('#solink_banner')[0].src = "/Content/Images/solink_banner.png";
                    $('#carbon_banner')[0].src = "/Content/Images/carbon_banner.png";
                    $('#controlbynet_banner')[0].src = "/Content/Images/controlbynet_banner.png";
                }
            }
            window.addEventListener("resize", onResize);
        });
    </script>
}
