@{
    ViewData["Title"] = "Home Page";
}


<section class="block">
    <div class="header">
        <img id="header-image-transparent" src="" style="height: 100%; width: 100%; visibility: hidden;" class="img-fluid" />
        <div class="banner">
            <div class="banner-text">
                <h2 id="banner-text-large">Leading a new approach to cloud-based Video and Storage solutions</h2>
                <h3 id="banner-text-small">Leading a new approach to cloud-based Video and Storage solutions</h3>
            </div>
        </div>
    </div>
</section>
<section class="block">
    <div id="what-we-do" class="section">
        <h2 class="section-title">What We Do</h2>
        <div class="row justify-content-center">
            <div class="col-sm-3 section-title-hr-col">
                <hr style="border-top: 1px solid black !important" />
            </div>
            <div class="col-sm-5 section-title-col">
                <h5 class="section-subtitle">Cloud-based Video | Storage | POS Exception Alliances</h5>
            </div>
            <div class="col-sm-3 section-title-hr-col">
                <hr style="border-top: 1px solid black !important" />
            </div>
        </div>
        <h5 class="section-text" style="text-align: justify; font-weight: 400; margin-bottom: 20px">With more than 70 years of security video experience between them, Phil Tolle and Kevin Searight co-founded 3 Palms Intelligent Video Solutions to support and supplement the loss prevention practices of multi-site businesses. Established as a VSaaS (Video Solutions as a Service) centered company, the primary focus of 3 Palms is to increase the forensic value of a multi-site video infrastructure and investment.</h5>
        <ul class="section-text" style="text-align: justify;">
            <li>Our on-board camera storage solutions eliminate the need for local servers, firewall equipment and network video recorders (NVRs), reducing complexity and lowering operating costs.</li>
            <li>Our cloud-based storage services can supplement/replace traditional DVRs/NVRs to provide a secure and alternative off-site location to manage, retrieve and review Loss Prevention and Operational video/data.</li>
            <li>Our POS-Video integration service automates the management, storage, and retrieval of transactional activity for one year with a scalable cloud-based and secured platform.</li>
            <li>Our select Video Manufacturer partnerships provide 3 Palms the ability to support our Clients with cost-effective options to also supplement/upgrade their existing Video investments as needed.</li>
        </ul>
    </div>
    <div id="solutions" class="section">
        <h2 class="section-title">Solutions</h2>
        <div class="row justify-content-center">
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
            <div class="col-sm-3 section-title-col">
                <h5 class="section-subtitle">Cloud-based Video Partners</h5>
            </div>
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
        </div>
        <div class="row top-row solutions-row">
            <div class="col-md-6">
                <div class="solutions-img-container">
                    <a href="https://verkada.com" target="_blank">
                        <img src="~/Content/Images/verkada_transparent_mono.png" class="d-inline-block align-top solutions-img" alt="">
                    </a>
                </div>
                <p class="section-text">Reduce complexity and cost with the world’s smartest, all-in-one security camera. No NVRs/DVRs, no on-premise servers to manage, no extra software or downloads — Verkada is so easy to use that it works for everyone. View video on any device, get alerts when things aren't right — even send first responders a live camera feed via SMS. No more manual updates, outdated firmware, or port-forwarding — Verkada keeps you protected with automatic software updates. Verkada is different by design. We replace obsolete equipment with technology that’s smart, secure, and easy to manage — by default.</p>
            </div>
            <div class="col-md-6">
                <div class="solutions-img-container">
                    <a href="https://camcloud.com" target="_blank">
                        <img style="vertical-align:middle" src="~/Content/Images/camcloud_transparent_mono.png" width="215" height="80" class="d-inline-block align-top solutions-img" alt="">
                    </a>
                </div>
                <p class="section-text">Store your critical surveillance footage safely off-site in the cloud for up to 90 days, to easily manage multiple cameras, users and physical locations. No more complex on-site hardware and all your media, from all your cameras will be stored in a single, secure location. The platform is designed to work with the largest number of cameras possible, including leading brands such as Hanwha Techwin (Samsung), many of which provide “plug-and-play capability. Camcloud’s multi-user feature allows for unlimited users on your account while restricting their account access and what cameras they can view, with limited account privileges. Since the service is cloud-based, you can connect cameras from unlimited number of physical locations.</p>
            </div>
        </div>
        <div class="row bottom-row">
            <div class="col-md-6">
                <div class="solutions-img-container">
                    <a href="https://een.com" target="_blank">
                        <img src="~/Content/Images/eagle_eye_transparent_mono.png" class="d-inline-block align-top solutions-img" alt="">
                    </a>
                </div>
                <p class="section-text">The Eagle Eye Cloud VMS provides 100% cloud management, 100% mobile and web browser viewing, and if you want – 100% cloud recording. Architected from the ground up to be all cloud all the time. You can click and add a camera at any time. You can click and change how long you keep your recordings. Its ready to go when you are. Pay only for what you need. It eliminates all the headaches of traditional systems. No software to buy and install, no license keys, and no OS to maintain. Eagle Eye Cloud VMS is designed for the cyber-security conscious customer seeking maximum flexibility in their choices of cameras and locations.</p>
            </div>
            <div class="col-md-6">
                <div class="solutions-img-container">
                    <a href="https://solink.com" target="_blank">
                        <img src="~/Content/Images/solink-2018-white-transparent.png" class="d-inline-block align-top solutions-img" alt="">
                    </a>
                </div>
                <p class="section-text">Solink is a data-driven security platform that provides network solutions for the identification and reporting of fraudulent activities for the retail and financial markets. A subscription base solution, the software automatically matches in-store transactions to video and analyzes the data to identify suspicious events. Using the web or mobile app, you can access all locations remotely, search for incidents, and quickly share evidence. In addition, the solution provides management with the tools to identify additional Training opportunities. With Solink, you can dramatically reduce investigation times and know that you're keeping a close eye on your operations.</p>
            </div>
        </div>
        <h2 class="section-title">Solutions</h2>
        <div class="row justify-content-center">
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
            <div class="col-sm-3 section-title-col">
                <h5 class="section-subtitle">Video Manufacturer Partners</h5>
            </div>
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
        </div>
        <div class="row top-row">
            <div class="col-md-6">
                <div class="solutions-img-container">
                    <a href="https://hanwhasecurity.com" target="_blank">
                        <img src="~/Content/Images/logo_hanwhatechwin_transparent_white.png" width="250" height="71" class="d-inline-block align-top solutions-img" alt="">
                    </a>
                </div>
                <p class="section-text">Hanwha Techwin America (formerly Samsung Techwin) is a precision technology company that has accumulated manufacturing expertise over 60 years of operation. Hanwha recently introduced the Wisenet line of innovative security products that include the 360° Fisheye and Multi Directional 180° cameras. Hanwha Techwin America provides products and technologies with the highest levels of performance, reliability and cost-efficiency for professional security applications.</p>
            </div>
            <div class="col-md-6">
                <div class="solutions-img-container">
                    <a href="http://specotech.com" target="_blank">
                        <img src="~/Content/Images/logo_speco_transparent_white.png" width="250" height="64" class="d-inline-block align-top solutions-img" alt="">
                    </a>
                </div>
                <p class="section-text">For over fifty years, Speco Technologies has provided the latest innovations in high definition video surveillance and accessories. Speco continues to support the industry with affordable, dependable product, while delivering exceptional customer service through extensive product training and technical support.</p>
            </div>
        </div>
    </div>
    <div id="who-we-serve" class="section">
        <h2 class="section-title">Who We Serve</h2>
        <div class="row justify-content-center">
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid black !important" />
            </div>
            <div class="col-sm-3 section-title-col">
                <h5 class="section-subtitle">Multi-Site Businesses</h5>
            </div>
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid black !important" />
            </div>
        </div>        
        <div class="row">
            <div class="col-md">
                <i class="fa fa-4x fa-shopping-cart"></i>
                <div class="serve-header"><h5 class="section-subtitle">Retail</h5></div>
                <div class="serve-content"><p>Soft Goods<br />Hard Goods<br />Grocery</p></div>
            </div>
            <div class="col-md">
                <i class="fa fa-4x fa-cutlery"></i>
                <div class="serve-header"><h5 class="section-subtitle">Restaurant</h5></div>
                <div class="serve-content"><p>Full Service<br />Quick Service<br />Bar and Lounge</p></div>
            </div>
            <div class="col-md">
                <i class="fa fa-4x fa-university"></i>
                <div class="serve-header"><h5 class="section-subtitle">Financial</h5></div>
                <div class="serve-content"><p>Credit Unions<br />Banking<br />Personal Loans</p></div>
            </div>
            <div class="col-md">
                <i class="fa fa-4x fa-ticket"></i>
                <div class="serve-header"><h5 class="section-subtitle">Entertainment</h5></div>
                <div class="serve-content"><p>Theme Parks<br />Theaters<br />Sports Venues</p></div>
            </div>
        </div>
    </div>
    <div id="who-we-are" class="section">
        <h2 class="section-title">Who We Are</h2>
        <div class="row justify-content-center">
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
            <div class="col-sm-3 section-title-col">
                <h5 class="section-subtitle">The Executive Team</h5>
            </div>
            <div class="col-sm-4 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
        </div>
        <div id="who-we-are-images" class="row">
            <div class="col-lg">
                <img src="~/Content/Images/Kevin_square.png" width="240" height="240" alt="Package Management" class="about-img img-responsive" />
                <h3>Kevin Searight</h3>
                <h5>Co-Founder</h5>
                <h5>36 years of industry experience</h5>
                <p class="section-text">Kevin’s diverse background in the electronic security industry affords him the expertise to consistently deliver innovative solutions and increased profitability to his customers. Areas of proficiency include: Strategic Vision, Meticulous Attention to Detail (MAD), Consultative Customer Engagement, unparalleled commitment to Customer Service and providing strong Leadership to the enterprises he has served. Kevin comes to 3 Palms Intelligent Video Solutions following a varied career as a Systems Integrator at Sensormatic, Comm-Works and Iverify as well as a Manufacturer of advanced Intelligent Video Solutions at companies including Tyco, ClickIT and Verint Video Solutions. Kevin is adept at identifying and responding to his Customers unique business needs and delivering consultative, business driven, ROI based Technology and Service Solutions that provide high value to all stakeholders. </p>
            </div>
            <div class="col-lg">
                <img src="~/Content/Images/Phil_square.png" width="240" height="240" alt="Package Management" class="about-img img-responsive" />
                <h3>Phil Tolle</h3>
                <h5>Co-Founder</h5>
                <h5>37 years of industry experience</h5>
                <p class="section-text">A seasoned physical security professional, Phil has served in both National Sales integration and Retail Loss Prevention leadership positions since 1982. Throughout his 15 years of Executive Loss Prevention roles with Hills Department Stores, Thalhimers, McCrory’s, Highland Superstores and Lord & Taylor, he employed a combination of team leadership and strategic planning with his support staff to achieve success in both profitability goals and objectives. These tools served him well as he made the transition into physical security systems integration as a solutions provider with Sensormatic in 1997. Continuing to serve as a Trusted Adviser for over 20 years with enterprise video leaders including Vector Security and NAVCO, Phil has continued to provide a diverse solution perspective and exemplary customer service through his unique experience as a Client and Integrator. He welcomes the opportunity for 3 Palms to be at YOUR service.</p>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div id="contact-us" class="section">
        <h2 class="section-title">Contact Us 24/7</h2>
        <div class="row justify-content-center">
            <div class="col-sm-3 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
            <div class="col-sm-5 section-title-col">
                <h5 class="section-subtitle">We are excited to discuss your custom security solution.<br />Please send us your contact detail using the form below.</h5>
            </div>
            <div class="col-sm-3 section-title-hr-col">
                <hr style="border-top: 1px solid white !important" />
            </div>
        </div>
        <div class="contact-us-form">
            @Html.Partial("_ContactUsForm")
        </div>
        <h4 class="section-subtitle">Connect With Us On Social Media</h4>
        <div class="social-icon-container">
            <a href="https://linkedin.com/company/28139371/" target="_blank"><i class="fa fa-2x fa-linkedin social-icon"></i></a>
            <a href="https://facebook.com/3pivs/" target="_blank"><i class="fa fa-2x fa-facebook social-icon"></i></a>
            <a href="https://twitter.com/Kevin3Palms" target="_blank"><i class="fa fa-2x fa-twitter social-icon"></i></a>
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript" src="//www.google.com/recaptcha/api.js" async></script>    
    <script>
        $(document).ready(function () {
            onResize();

            var navbarOffset = $("nav").outerHeight() - 1;

            // Client side validation for
            $.validator.unobtrusive.parse($("#contact-us-form"));

            $("#home-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $(".header").offset().top - navbarOffset
                }, 'slow');
            });

            $("#what-we-do-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#what-we-do").offset().top - navbarOffset
                }, 'slow');
            });

            $("#solutions-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#solutions").offset().top - navbarOffset
                }, 'slow');
            });

            $("#who-we-serve-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#who-we-serve").offset().top - navbarOffset
                }, 'slow');
            });

            $("#who-we-are-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#who-we-are").offset().top - navbarOffset
                }, 'slow');
            });

            $("#contact-us-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#contact-us").offset().top - navbarOffset
                }, 'slow');
            });

            $(document).on("submit", function (e, data) {
                e.preventDefault();

                var recaptcha = $("#g-recaptcha-response").val();
                if (recaptcha === "") {
                    event.preventDefault();
                    bootbox.dialog({
                        message: "Please check the captcha before submitting the form.",
                        buttons: {
                            confirm: {
                                label: 'Close',
                                className: 'btn-outline-primary'
                            },
                        },
                        callback: function () { }
                    });

                    return;
                }

                var form = e.target;
                var formData = new FormData(form);

                var submitButton = $(".submit-button");
                var submitButtonHtml = submitButton.html();
                // Show spinner on submit button and disable it
                submitButton.html('<div class="loader"></div>');
                submitButton.attr("disabled", true);

                $.ajax({
                    url: form.action,
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                })
                    .then(function (response) {
                        bootbox.dialog({
                            message: "Thank you for your interest! We have received your inquiry we will be reaching out to you soon.",
                            buttons: {
                                confirm: {
                                    label: 'Close',
                                    className: 'btn-outline-primary'
                                },
                            },
                            callback: function () { }
                        });

                        // Remove spinner from submit button
                        submitButton.html(submitButtonHtml);
                        submitButton[0].classList.add("btn-outline-secondary-disabled");
                        submitButton[0].classList.remove("btn-outline-secondary");
                    })
                    .fail(function (error) {
                        bootbox.dialog({
                            message: "An error occurred while submitting the form.<br /><br />Error: " + error.statusText,
                            buttons: {
                                confirm: {
                                    label: 'Close',
                                    className: 'btn-outline-primary'
                                },
                            },
                            callback: function () { }
                        });

                        // Remove spinner from submit button and enable so user can try to resubmit
                        submitButton.html(submitButtonHtml);
                        submitButton.attr("disabled", false);

                        grecaptcha.reset();
                    });
            });

            // We are dynamically changing the header image to a cropped version for small devices
            function onResize() {
                width = $(window).outerWidth();

                // Dynamically resize columns in section titles so that <hr />'s look correct
                //if (width > 890) {
                //    $('.section-title-hr-col').css('display', 'initial');
                //    $('.section-title-col').removeClass('col');
                //    $('.section-title-col').removeClass('col-sm-4');
                //    $('.section-title-col').addClass('col-sm-3');
                //}
                //if (width <= 890) {
                //    $('.section-title-hr-col').css('display', 'initial');
                //    $('.section-title-col').removeClass('col');
                //    $('.section-title-col').removeClass('col-sm-3');
                //    $('.section-title-col').addClass('col-sm-4');
                //}
                if (width <= 580) {
                    $('.section-title-hr-col').css('display', 'none');
                    //    $('.section-title-col').removeClass('col-sm-3');
                    //    $('.section-title-col').removeClass('col-sm-4');
                    //    $('.section-title-col').addClass('col');
                }
                else {
                    $('.section-title-hr-col').css('display', 'initial');
                }
                // Dynamically resize banner image
                if (width <= 480) {
                    document.getElementById("header-image-transparent").src = "/Content/Images/header-image-phone-compressed.png";
                    document.getElementById("banner-text-large").hidden = true;
                    document.getElementById("banner-text-small").hidden = false;
                }
                else {
                    document.getElementById("header-image-transparent").src = "/Content/Images/header-image-2000x705-compressed.png";
                    document.getElementById("banner-text-large").hidden = false;
                    document.getElementById("banner-text-small").hidden = true;
                }
            }
            window.addEventListener("resize", onResize);
        });
    </script>
}
